<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\modify_employee.css">
    <title>Modify Employee</title>
</head>
<body>

    <h1>Modify Employee</h1>
    <form method="post">
        <label for="id">Enter Employee Id to Modify:</label>
        <input type="number" id="id" name="id" required><br>

        <div class="button">
            <button type="submit" class="btn" >Modify</button>
        </div>
    </form>
    
    
</body>
</html>
